@keyframes scaleFromCenter {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes blur {
  0% {
    filter: blur(0);
    backdrop-filter: blur(0);
  }
  100% {
    filter: blur(var(--blur-amount));
    backdrop-filter: blur(var(--blur-amount));
  }
}

@keyframes blur-background {
  0% {
    backdrop-filter: blur(0);
  }
  100% {
    backdrop-filter: blur(var(--blur-amount));
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotator {
  0% {
    transform: translateY(103%);
  }
  13% {
    filter: blur(var(--blur-amount));
    transform: translateY(103%);
  }
  14% {
    filter: none;
    transform: translateY(0);
  }
  86% {
    filter: none;
    transform: translateY(0);
  }
  87% {
    filter: blur(var(--blur-amount));
    transform: translateY(-103%);
  }
  100% {
    transform: translateY(-103%);
  }
}

@keyframes rotatorEnd {
  /* same as the other only without the exit at the end */
  0% {
    transform: translateY(103%);
  }
  13% {
    filter: blur(var(--blur-amount));
    transform: translateY(103%);
  }
  14% {
    filter: none;
    transform: translateY(0);
  }
  86% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
