.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.blur-enter-active,
.blur-leave-active {
    backdrop-filter: blur(0px);
    filter: blur(0px);
    transition: all 0.5s ease-in;
}

.blur-enter-from,
.blur-leave-to {
    backdrop-filter: blur(10px);
    filter: blur(10px);
    opacity: 0;
}
